html{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
    text-align: center;
    background: #f0f0f2;
}
#Lockcanvas{
    margin: 20px auto;
}
#thinfo{
    margin: 20px auto;
    font-size: 20px;
}
#notice{
    margin: 20px;
    height: 40px;
}
input{
    margin: 20px 0;
    padding: 0 10px;
}
span{
    margin-left: 10px;
}